USE [master]
GO
/****** Object:  Database [Procedures]    Script Date: 21.11.2023 18:58:15 ******/
CREATE DATABASE [Procedures]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Procedures', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEV\MSSQL\DATA\Procedures.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Procedures_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEV\MSSQL\DATA\Procedures_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Procedures].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Procedures]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_admins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyWords]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyWords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nchar](10) NOT NULL,
 CONSTRAINT [PK_KeyWords] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyPatients]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyPatients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nchar](10) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Patronymic] [nchar](10) NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_MyPatients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyProcedures]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyProcedures](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VaccineId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_MyProcedures] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientsTypes]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientsTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PatientsTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProceduresDone]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProceduresDone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureId] [int] NOT NULL,
	[FullOrNot] [bit] NOT NULL,
	[ActualDate] [date] NOT NULL,
 CONSTRAINT [PK_ProceduresDone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProceduresKeyWords]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProceduresKeyWords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KeyWordId] [int] NOT NULL,
	[ProcedureId] [int] NOT NULL,
 CONSTRAINT [PK_ProceduresKeyWords] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccines]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MakerId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_Vaccines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinesMakers]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinesMakers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_VaccinesMakers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinesTypes]    Script Date: 21.11.2023 18:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinesTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VaccinesTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([id], [username], [password]) VALUES (1, N'testadm', N'APM1RKs7PcUFWxTElROSg6/Zyu8k+z0d4PVqCBMrzvlU8vnGLGrds7HVKFWJai0+lw==')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([id], [Name]) VALUES (1, N'Россия    ')
INSERT [dbo].[Countries] ([id], [Name]) VALUES (2, N'Франция   ')
INSERT [dbo].[Countries] ([id], [Name]) VALUES (3, N'Корея     ')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[KeyWords] ON 

INSERT [dbo].[KeyWords] ([id], [Word]) VALUES (1, N'В отпуск  ')
INSERT [dbo].[KeyWords] ([id], [Word]) VALUES (2, N'По плану  ')
INSERT [dbo].[KeyWords] ([id], [Word]) VALUES (3, N'Экстренно ')
SET IDENTITY_INSERT [dbo].[KeyWords] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientsTypes] ON 

INSERT [dbo].[PatientsTypes] ([id], [Name]) VALUES (1, N'Мама      ')
INSERT [dbo].[PatientsTypes] ([id], [Name]) VALUES (2, N'Папа      ')
INSERT [dbo].[PatientsTypes] ([id], [Name]) VALUES (3, N'Бабушка   ')
SET IDENTITY_INSERT [dbo].[PatientsTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password]) VALUES (1017, N'test', N'ABgpeXJDVF6PuH5BeeqspKBLtJbWhM92hUkQKnMeg/A6XkTO6Q3lLlEDRPjUuGmR0A==')
INSERT [dbo].[Users] ([id], [username], [password]) VALUES (2025, N'hehe', N'AEYCr2LI2KmBrLSfn6LnoTySjEIBjko4qwDoasnc19yMbWu+dDbwmOcehayTQ/7bYA==')
INSERT [dbo].[Users] ([id], [username], [password]) VALUES (2026, N'testreg', N'ADCkCUrnkYJqFJBHSB7/b1ZDfGnA1rPh96UhyW6TRprrhD88MRs+4h9h+rjoE5JJeg==')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccines] ON 

INSERT [dbo].[Vaccines] ([id], [Name], [MakerId], [TypeId]) VALUES (1, N'Вакцина БЦЖ', 3, 3)
INSERT [dbo].[Vaccines] ([id], [Name], [MakerId], [TypeId]) VALUES (3, N'Вакцина БЦЖ-М', 3, 3)
INSERT [dbo].[Vaccines] ([id], [Name], [MakerId], [TypeId]) VALUES (4, N'Вакцина коревая культуральная живая сухая', 4, 10)
SET IDENTITY_INSERT [dbo].[Vaccines] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinesMakers] ON 

INSERT [dbo].[VaccinesMakers] ([id], [Name], [CountryId]) VALUES (3, N'ГУ НИИЭМ им. Гамалеи РАМН', 1)
INSERT [dbo].[VaccinesMakers] ([id], [Name], [CountryId]) VALUES (4, N'ФГУП НПО "Микроген" МЗ', 1)
INSERT [dbo].[VaccinesMakers] ([id], [Name], [CountryId]) VALUES (5, N'ОАО "Биомед" им. Мечникова', 1)
SET IDENTITY_INSERT [dbo].[VaccinesMakers] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinesTypes] ON 

INSERT [dbo].[VaccinesTypes] ([id], [Name]) VALUES (2, N'Вирусный гепатит B ')
INSERT [dbo].[VaccinesTypes] ([id], [Name]) VALUES (3, N'Туберкулез')
INSERT [dbo].[VaccinesTypes] ([id], [Name]) VALUES (4, N'Пневмококковая инфекция')
SET IDENTITY_INSERT [dbo].[VaccinesTypes] OFF
GO
ALTER TABLE [dbo].[MyProcedures] ADD  CONSTRAINT [DF__MyProcedu__UserI__18EBB532]  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[MyPatients]  WITH CHECK ADD  CONSTRAINT [FK_MyPatients_PatientsTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[PatientsTypes] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MyPatients] CHECK CONSTRAINT [FK_MyPatients_PatientsTypes]
GO
ALTER TABLE [dbo].[MyProcedures]  WITH CHECK ADD  CONSTRAINT [FK_MyProcedures_MyPatients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[MyPatients] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MyProcedures] CHECK CONSTRAINT [FK_MyProcedures_MyPatients]
GO
ALTER TABLE [dbo].[MyProcedures]  WITH CHECK ADD  CONSTRAINT [FK_MyProcedures_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MyProcedures] CHECK CONSTRAINT [FK_MyProcedures_Users]
GO
ALTER TABLE [dbo].[MyProcedures]  WITH CHECK ADD  CONSTRAINT [FK_MyProcedures_Vaccines] FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccines] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MyProcedures] CHECK CONSTRAINT [FK_MyProcedures_Vaccines]
GO
ALTER TABLE [dbo].[ProceduresDone]  WITH CHECK ADD  CONSTRAINT [FK_ProceduresDone_MyProcedures] FOREIGN KEY([ProcedureId])
REFERENCES [dbo].[MyProcedures] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProceduresDone] CHECK CONSTRAINT [FK_ProceduresDone_MyProcedures]
GO
ALTER TABLE [dbo].[ProceduresKeyWords]  WITH CHECK ADD  CONSTRAINT [FK_ProceduresKeyWords_KeyWords] FOREIGN KEY([KeyWordId])
REFERENCES [dbo].[KeyWords] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProceduresKeyWords] CHECK CONSTRAINT [FK_ProceduresKeyWords_KeyWords]
GO
ALTER TABLE [dbo].[ProceduresKeyWords]  WITH CHECK ADD  CONSTRAINT [FK_ProceduresKeyWords_MyProcedures] FOREIGN KEY([ProcedureId])
REFERENCES [dbo].[MyProcedures] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProceduresKeyWords] CHECK CONSTRAINT [FK_ProceduresKeyWords_MyProcedures]
GO
ALTER TABLE [dbo].[Vaccines]  WITH CHECK ADD  CONSTRAINT [FK_Vaccines_VaccinesMakers] FOREIGN KEY([MakerId])
REFERENCES [dbo].[VaccinesMakers] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vaccines] CHECK CONSTRAINT [FK_Vaccines_VaccinesMakers]
GO
ALTER TABLE [dbo].[Vaccines]  WITH CHECK ADD  CONSTRAINT [FK_Vaccines_VaccinesTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[VaccinesTypes] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vaccines] CHECK CONSTRAINT [FK_Vaccines_VaccinesTypes]
GO
ALTER TABLE [dbo].[VaccinesMakers]  WITH CHECK ADD  CONSTRAINT [FK_VaccinesMakers_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VaccinesMakers] CHECK CONSTRAINT [FK_VaccinesMakers_Countries]
GO
USE [master]
GO
